Repository Ellerbach/docfx-companion-tools, pull requests merged in 2023-10, with the labels that each got.

#32 Doclinkchecker upgrade
  src/DocFxCompanionTools.sln
  src/DocLinkChecker/DocLinkChecker.Test/Directory.Build.props
  src/DocLinkChecker/DocLinkChecker.Test/DocLinkChecker.Test.csproj
  src/DocLinkChecker/DocLinkChecker.Test/Helpers/MarkdownExtensions.cs
  src/DocLinkChecker/DocLinkChecker.Test/HyperlinkTests.cs
  src/DocLinkChecker/DocLinkChecker.Test/MarkdownTests.cs
  src/DocLinkChecker/DocLinkChecker.Test/MockFileService.cs
  src/DocLinkChecker/DocLinkChecker.Test/Usings.cs
  src/DocLinkChecker/DocLinkChecker.sln
  src/DocLinkChecker/DocLinkChecker/App.cs
  src/DocLinkChecker/DocLinkChecker/Constants/AppConstants.cs
  src/DocLinkChecker/DocLinkChecker/DocLinkChecker.csproj
  src/DocLinkChecker/DocLinkChecker/Enums/HyperlinkType.cs
  src/DocLinkChecker/DocLinkChecker/Enums/MarkdownErrorSeverity.cs
  src/DocLinkChecker/DocLinkChecker/Enums/RelativeLinkType.cs
  src/DocLinkChecker/DocLinkChecker/Enums/ReturnValue.cs
  src/DocLinkChecker/DocLinkChecker/GlobalSuppressions.cs
  src/DocLinkChecker/DocLinkChecker/Helpers/MarkdownHelper.cs
  src/DocLinkChecker/DocLinkChecker/Helpers/StringExtensions.cs
  src/DocLinkChecker/DocLinkChecker/Interfaces/ICustomConsoleLogger.cs
  src/DocLinkChecker/DocLinkChecker/Interfaces/IFileService.cs
  src/DocLinkChecker/DocLinkChecker/Models/AppConfig.cs
  src/DocLinkChecker/DocLinkChecker/Models/CommandLineOptions.cs
  src/DocLinkChecker/DocLinkChecker/Models/DocLinkCheckerSettings.cs
  src/DocLinkChecker/DocLinkChecker/Models/FileMappingItem.cs
  src/DocLinkChecker/DocLinkChecker/Models/Heading.cs
  src/DocLinkChecker/DocLinkChecker/Models/Hyperlink.cs
  src/DocLinkChecker/DocLinkChecker/Models/MarkdownError.cs
  src/DocLinkChecker/DocLinkChecker/Models/MarkdownObjectBase.cs
  src/DocLinkChecker/DocLinkChecker/Models/PipeTable.cs
  src/DocLinkChecker/DocLinkChecker/Program.cs
  src/DocLinkChecker/DocLinkChecker/Properties/launchSettings.json
  src/DocLinkChecker/DocLinkChecker/Services/CheckerHttpClient.cs
  src/DocLinkChecker/DocLinkChecker/Services/CrawlerService.cs
  src/DocLinkChecker/DocLinkChecker/Services/CustomConsoleLogger.cs
  src/DocLinkChecker/DocLinkChecker/Services/FileService.cs
  src/DocLinkChecker/DocLinkChecker/Services/LinkValidatorService.cs
  src/DocLinkChecker/DocLinkChecker/Services/ResourceValidatorService.cs
  src/DocLinkChecker/Helpers/ExitCodeHelper.cs
  src/DocLinkChecker/Program.cs
  src/DocLinkChecker/Properties/launchSettings.json
  src/DocLinkChecker/README.md
  src/build/dotnet/common.props
  src/build/dotnet/tests.common.props
Labels: documentation, enhancement

#33 Fix: Success Code on 0 errors and warnings
  src/DocLinkChecker/DocLinkChecker/App.cs
Labels: fix

#34 Fixed C# language version for packaging
  .github/workflows/release-and-publish.yml
  pack.ps1
  src/DocLinkChecker/DocLinkChecker/DocLinkChecker.csproj
  src/build/dotnet/common.props
Labels: fix

#35 Fixing packing for DocLinkChecker
  src/DocLinkChecker/DocLinkChecker/DocLinkChecker.csproj
Labels: bug

#36 Small logging changes.
  src/DocLinkChecker/DocLinkChecker/Program.cs
  src/DocLinkChecker/DocLinkChecker/Services/CrawlerService.cs
  src/DocLinkChecker/DocLinkChecker/Services/LinkValidatorService.cs
  src/DocLinkChecker/DocLinkChecker/Services/ResourceValidatorService.cs
Labels: fix
