Repository Ellerbach/docfx-companion-tools, pull requests merged in 2023-11, with the labels that each got.

#40 Fix orphaned resources validation.
  src/DocLinkChecker/DocLinkChecker/Helpers/MarkdownHelper.cs
  src/DocLinkChecker/DocLinkChecker/Services/ResourceValidatorService.cs
Labels: fix

#41 Fix the length error in DocLinkChecker
  src/DocLinkChecker/DocLinkChecker/Helpers/MarkdownHelper.cs
Labels: fix

#39 Option to split root TOC into multiple child TOC files
  src/DocFxTocGenerator/Domain/CommandlineOptions.cs
  src/DocFxTocGenerator/README.md
  src/DocFxTocGenerator/TocGenerator.cs
Labels: enhancement

#42 DocFxTocGenerator: Limit warnings and README format fix
  README.md
  src/DocFxTocGenerator/Properties/launchSettings.json
  src/DocFxTocGenerator/README.md
  src/DocFxTocGenerator/TocGenerator.cs
Labels: documentation, fix
